
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>
<div>
    <label> Conuntry Name : @TempData["My Name"] (TempData)</label>
    <label>Nick Name: @ViewData["NickName"] (viewData)</label>
</div>

