
@{
    ViewData["Title"] = "GetCountryDetails";
}

<h1>GetCountryDetails</h1>

<div>
    <label> Country Name: </label> @TempData["My Name"]
    <<label>Country Code : @TempData["NickName1"] </label>
</div>
